<!DOCTYPE html>
<html lang="en-us">
<title>Gitshame</title>
<meta charset="UTF-8" />
<link href="//s3.amazonaws.com/gitshame-html/main.css" rel="stylesheet" type="text/css">
<link href="//s3.amazonaws.com/gitshame-html/icon.png" rel="icon" type="image/png">
<script src="//s3.amazonaws.com/gitshame-html/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
{%- block body %}
  <header>
    <h1>
      <a href="/"> Gitshame </a>
    </h1>
    <div class="header-buttons">
      <a id="shame" onclick="openModal()">Shame!</a>
      <a id="search">Seach</a>
    </div>
  </header>
  <div id="modal" onclick="closeModalEvent(event)">
    <div class="modal-inner">
      <h3> Enter a shameful github link </h3>
      <input id="link" type="text" name="link">
      <input type="button" value="Shame!" onclick="shame()">
    </div>
  </div>
  <section>
    {%- for blob in blobs %}
    <div class="blob">
      <a class="file-header" href="{{ blob.url }}">{{ blob.name }}</a>
      {{ blob.html }}
    </div>
    {%- endfor %}
  </section>
{%- endblock %}
</body>
</html>
