html,
body {
  margin: 0;
  padding: 0;
  font-family: 'NowRegular';
}

td.linenos {
  background-color: #a7a6a4;
  padding: .5rem;
  border: 1px solid #a7a6a4;
  border-radius: 10px;
  color: white;
}

td.code {
  padding-left: 1rem;
  text-align: left;
}

span.lineno {
  background-color: #f0f0f0;
  padding: 0 5px 0 5px;
}

pre {
  line-height: 125%;
}

body .hll {
  background-color: #ffffcc
}

body {
  background: #f8f8f8;
  min-width: 500px;
}

body .c {
  color: #408080;
  font-style: italic
}

body .err {
  border: 1px solid #FF0000
}

body .k {
  color: #008000;
  font-weight: bold
}

body .o {
  color: #666666
}

body .ch {
  color: #408080;
  font-style: italic
}

body .cm {
  color: #408080;
  font-style: italic
}

body .cp {
  color: #BC7A00
}

body .cpf {
  color: #408080;
  font-style: italic
}

body .c1 {
  color: #408080;
  font-style: italic
}

body .cs {
  color: #408080;
  font-style: italic
}

body .gd {
  color: #A00000
}

body .ge {
  font-style: italic
}

body .gr {
  color: #FF0000
}

body .gh {
  color: #000080;
  font-weight: bold
}

body .gi {
  color: #00A000
}

body .go {
  color: #888888
}

body .gp {
  color: #000080;
  font-weight: bold
}

body .gs {
  font-weight: bold
}

body .gu {
  color: #800080;
  font-weight: bold
}

body .gt {
  color: #0044DD
}

body .kc {
  color: #008000;
  font-weight: bold
}

body .kd {
  color: #008000;
  font-weight: bold
}

body .kn {
  color: #008000;
  font-weight: bold
}

body .kp {
  color: #008000
}

body .kr {
  color: #008000;
  font-weight: bold
}

body .kt {
  color: #B00040
}

body .m {
  color: #666666
}

body .s {
  color: #BA2121
}

body .na {
  color: #7D9029
}

body .nb {
  color: #008000
}

body .nc {
  color: #0000FF;
  font-weight: bold
}

body .no {
  color: #880000
}

body .nd {
  color: #AA22FF
}

body .ni {
  color: #999999;
  font-weight: bold
}

body .ne {
  color: #D2413A;
  font-weight: bold
}

body .nf {
  color: #0000FF
}

body .nl {
  color: #A0A000
}

body .nn {
  color: #0000FF;
  font-weight: bold
}

body .nt {
  color: #008000;
  font-weight: bold
}

body .nv {
  color: #19177C
}

body .ow {
  color: #AA22FF;
  font-weight: bold
}

body .w {
  color: #bbbbbb
}

body .mb {
  color: #666666
}

body .mf {
  color: #666666
}

body .mh {
  color: #666666
}

body .mi {
  color: #666666
}

body .mo {
  color: #666666
}

body .sb {
  color: #BA2121
}

body .sc {
  color: #BA2121
}

body .sd {
  color: #BA2121;
  font-style: italic
}

body .s2 {
  color: #BA2121
}

body .se {
  color: #BB6622;
  font-weight: bold
}

body .sh {
  color: #BA2121
}

body .si {
  color: #BB6688;
  font-weight: bold
}

body .sx {
  color: #008000
}

body .sr {
  color: #BB6688
}

body .s1 {
  color: #BA2121
}

body .ss {
  color: #19177C
}

body .bp {
  color: #008000
}

body .vc {
  color: #19177C
}

body .vg {
  color: #19177C
}

body .vi {
  color: #19177C
}

body .il {
  color: #666666
}

body {
  background: #c7ced8;
}

body a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

body textarea {
  resize: none;
}

body header {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a7a6a4;
  color: #fff;
}

body header h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

body header .header-buttons a {
  margin-left: 2rem;
  font-size: 1rem;
}

body header .header-buttons a#login:hover,
body header .header-buttons a#login:active,
body header .header-buttons a#login:focus {
  color: #3a3a3e;
}

body header .header-buttons a#shame:hover,
body header .header-buttons a#shame:active,
body header .header-buttons a#shame:focus {
  color: #3a3a3e;
}

body section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section .blob,
body section #comment,
body section .comment {
  color: #0d0d0f;
  background: #fff;
  width: 60%;
  border: 1px solid #0d0d0f;
  border-radius: 10px;
  margin: 3rem 0 0 0;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
}

body section textarea {
  font-size: 1rem;
  width: 100%;
  height: 5rem;
  margin: 0;
  border: 0;
  padding: 0;
}

body section #comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 6rem;
  padding: 0;
}

body section #comment textarea {
  box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid #0d0d0f;
}

body section #comment a#comment-submit {
  margin-right: 1rem;
  color: #a7a6a4;
}

body section #comment a#comment-submit:hover,
body section #comment a#comment-submit:active,
body section #comment a#comment-submit:focus {
  color: #3a3a3e;
}

body section #comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section #comments .comment {
  height: 5rem;
  font-size: 1rem;
  width: 50%;
}

body #modal {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .3);
}

body #modal .modal-inner {
  width: 60%;
  margin: 100px auto;
  background-color: #a7a6a4;
  padding: 10px;
}

body #modal .modal-inner h3 {
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
}
