head
  link(rel="icon", href="gslogo.png")
  link(rel="stylesheet", media="screen", href="https://fontlibrary.org/face/now", type="text/css")
  style
    include main.css
    include:stylus new-main.styl
body
  header
    h1
      a(href="../") Gitshame
    .header-buttons
      a#login Login
      a#shame Shame!
  section
    .blob
      a.file-header main.js
      include blob.html
  section
    #comment
      textarea#comment-text
      a#comment-submit Submit
    .comment
      textarea(readonly) asdf
        | ghjk
        | qwer
        | tyui
        | zxcv
        | bnm,
    .comment
      textarea(readonly) Hello!
        | This is a comment.
        | Not so long though.
